

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
.right
{
    overflow-x: hidden;
    overflow-y: hidden;
    /* border: 1px solid black; */
    width:85%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 236, 236);
    height: 105vh;
}

.top1
{
   /* border: 3px solid black; */
   height: 7%;
   display: flex;
   flex-direction: row;
   gap: 70%;
   margin-top: 5px;
}

.top2
{
    /* border: 3px solid black; */
    height: 20%;
    
    
}

.top3
{
    /* border: 3px solid black; */
    height: 40%;
}

.top4
{  
    
    height:30%;
    margin-top: 10px;
    width:97% ;
    margin-top: 10px;
    margin-left: 22px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;

}



.shah
{
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.icon
{
    color:brown;
}

.SerchIn
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:6px;
    /* border: 3px solid black; */
    padding: 5px;
    box-sizing: border-box;
    width: 240%;
    background-color: white;
    border-radius: 10px;
}


.serchBar
{
    padding-top: 6px;
    padding-bottom: 5px;
    padding-right: 100px;
}



.top2
{
   display: flex;
   flex-direction: row;
   gap: 30px;

   padding-top: 10px;
   padding-left: 20px;
   padding-bottom: 20px;
   padding-right: 20px;

}


.earning
{
    background-color: white;
   border-radius: 10px;
   width: 25%;
   height: 100%;
   /* border: 1px solid black; */
}

.order
{
    background-color: white;
    height: 100%;
    border-radius: 10px;
    width: 25%;
    border: 1px solid black;
}


.balance
{
    background-color: white;
    height: 100%;
    border-radius: 10px;
    width: 25%;
    border: 1px solid black;

}

.totalsales
{
    background-color: white;
    height: 100%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid black;
}


.earning
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}

.upic
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.up,.per
{
  color: green;
  display: inline;
}


.doller
{
    /* border: 1px solid black; */
    width: 30%;
    border-radius: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgb(175, 235, 175);

}



.ic
{
    width: 100%;
    height: 100%;
}

.Ear
{
    color: gray;
}

.book
{
   color: rgb(133, 25, 133);
}

.Book
{
    
    background-color: rgb(247, 196, 247);
}

.Ram,.Down
{
    color: red;
}



.wallet
{
    color: blue;
}

.bag
{
    color: red;
}

.Bag
{
    background-color: rgb(248, 215, 215);
}


.top3
{
   display: flex;
   flex-direction: row;
   gap: 30px;

  

}

.month
{
    /* border: 1px solid black; */
    width: 70%;
    height:100%;
    margin-left: 25px;
    border-radius: 5px;
}

.PiChart
{
   
    width: 25%;
    height:100%;
    margin-right: 20px;
    background-color:white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    

}

.circl
{
    width: 30%;
    border-radius: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 25px;
    margin-left: 60px;
    margin-bottom: 25px;
    background-color:rgb(247, 242, 242);
    width: 13vw;
    height: 27vh; 
    border: 1px;  
}

.ooo
{
    margin-top: 20px;
}

.content
{
    margin-top: 10px;
    margin-left: 20px;
}

.prod
{
    color:gray ;
}

.se
{
   border-radius: 90px;
}


.month
{
    display:flex;
    flex-direction: column;
    background-color: white;
}

.chartTop
{
    display: flex;
    flex-direction: row;
    gap: 600px;
    margin-top: 10px;
}
.TopHeading
{
    padding-left: 15px;
}

.qantity
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 13%;
    height: 75%;
    padding-left: 10px;
    border-radius: 20px;
}

.topcon
{
    color: gray;
}


.barchart
{
    display: flex;
    flex-direction: row;
    margin-left: 18px;
    margin-bottom: 10px;
    
    gap: 25px;
    /* margin-top: 90px; */
}

.c1
{
    /* border: 1px solid black; */
    height: 130px;
    width: 45px;
    border-radius: 8px;
   
    background-color: rgb(229, 210, 250);
}

.c2
{
    height: 80px;
    width: 45px;
    border-radius: 8px;
   
    background-color: rgb(229, 210, 250);
}

.c3
{
    height: 190px;
    width: 45px;
    border-radius: 8px;
   
    background-color: rgb(229, 210, 250);
}

.c4
{
    height: 130px;
    width: 45px;
    border-radius: 8px;
   
    background-color: rgb(229, 210, 250);
}

.c5
{
    height: 150px;
    width: 45px;
    border-radius: 8px;
   
    background-color: rgb(229, 210, 250);
}

.c6
{
    height: 60px;
    width: 45px;
    border-radius: 8px;
   
    background-color: rgb(229, 210, 250);
}

.c7
{
    height: 160px;
    width: 45px;
    border-radius: 8px;
   
    background-color: rgb(229, 210, 250);
}

.c8
{
    height: 190px;
    width: 45px;
    border-radius: 8px;
   
    background-color: rgb(39, 15, 65);
}

.c9
{
    height: 150px;
    width: 45px;
    border-radius: 8px;
   
    background-color: rgb(229, 210, 250);;
}

.c10
{
    height: 140px;
    width: 45px;
    border-radius: 8px;
   
    background-color: rgb(229, 210, 250);;
}

.c11
{
    height: 130px;
    width: 45px;
    border-radius: 8px;
   
    background-color: rgb(229, 210, 250);;
}

.c12
{
    height: 160px;
    width: 45px;
    border-radius: 8px;
   
    background-color: rgb(229, 210, 250);;
}



.B0
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5px;
    /* margin-top: 10px; */
}


.bott
{
    display: flex;
    flex-direction: row;
    gap:57%;
    margin-top: 10px;
    margin-left: 20px;
    width: 110%;
   
    
}

.top
{
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 300px;
}

.s
{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    
    /* background-color: white; */
    border-radius: 10px;
    align-items: center;
    padding-left: 10px;
  
    

    
   
}

.vs
{
  
    
    background-color: rgb(245, 242, 237);
    border-radius: 10px;
    align-items: center;
    border: 1px black;
    width: 100%;

}

.bbb
{
    display: flex;
    flex-direction: column;
    gap: 25%;
}

/* .product
{
    display: flex;
    flex-direction: row;
    gap: 250%;
    margin-left: 20px;
    margin-top: 20px;
    width: 30%;
   
} */
.stp
{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.allc
{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    gap: 800px;
    /* margin-left: 20px;
    margin-top: 20px;
    width: 30%; */
    margin-left: 20px; 
    margin-top: 20px;
    color: gray;
   
}

.line
{
    border: 1px solid rgb(209, 204, 204);
    height: 0px;
    width:96% ;
    margin-top: 10px;
    margin-left: 20px;
    
}

.bb
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 600px;
    margin-left: 15px;
    margin-top: 5px;
}

.aaa
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.ab
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
            
}

.d
{
    display: inline;
}

.yy
{
    color: gray;
}

.rr
{
    width: 30px;
    height: 30px;
}

