
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  


.left
{
    /* border: 1px solid black; */
    width:15%;
    background-color: rgb(16, 16, 61);
    display: flex;
    flex-direction: column;
    height: 105vh;
}

.Dash_main
{
    /* border:5px solid black ; */
    height: 15%;
    padding-top:30px;
    padding-left:15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;  
    gap: 6px;
    height: 10%;
}

.Dash
{ 
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.setting
{
    width:25px;
    height: 25px;
    color: white;
} 


.Dash_Under
{
    padding-top:50px;
    padding-left:15px;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 76%;
    /* border: 5px solid black; */
   
}

.a
{
    background-color: rgb(149, 158, 167);
    border-radius: 10px;
    width: 90%;
    height: 7%;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
}

.a,.b,.c,.d,.e,.f
{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}


.q
{
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
}

.r
{
    display: flex;
    flex-direction: row;
    gap: 68px;
    align-items: center;
}

.s
{
    display: flex;
    flex-direction: row;
    gap: 82px;
    align-items: center;
}

.t
{
    display: flex;
    flex-direction: row;
    gap: 73px;
    align-items: center;
}

.u
{
    display: flex;
    flex-direction: row;
    gap: 98px;
    align-items: center;
}


.Dash_Bottom
{
   height: 20%;
   /* border: 5px solid blue; */
   /* padding-top: 30px;
   padding-left: 20px; */
   /* margin-left: 1px; */

   margin-bottom: 10px;
   margin-left: 10px;
}


.bottom
{
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: rgb(149, 158, 167);
    width: 95%;
    height: 35%;
    padding-top: 10px;
    padding-right: 5px;
    border-radius: 5px;
    color: rgb(1, 5, 8);
    align-items: center;
    padding-bottom: 10px;
    box-sizing: border-box;
    

}

.fi
{
    width: 40%;
    height: 90%;
}

.co
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
